<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB3b5AwwNYzNTMkuAO4skgh0lmcg2lUMlI</string>
	<key>GCM_SENDER_ID</key>
	<string>705646335421</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.azhar.absensi</string>
	<key>PROJECT_ID</key>
	<string>absensi-94cbe</string>
	<key>STORAGE_BUCKET</key>
	<string>absensi-94cbe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:705646335421:ios:7392b67e967ed1d9516ed4</string>
</dict>
</plist>